<!DOCTYPE html>
<html>

<head>
    <%- include('head') %>
</head>

<body>
    <%- include('header') %>

        <main class="main-container">
            <h1 class="main-container__title">
                <%= pageTitle %>
            </h1>
        </main>
</body>

</html>