<!DOCTYPE html>
<html>

<head>
    <%- include('head') %>
        <link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <%- include('header') %>
        <main class="main-container">
            <h1 class="main-container__title">
                <%= pageTitle %>
            </h1>
            <%- include('form') %>
        </main>
</body>

</html>