<form action="/add-user" method="post" class="main-container__form">
    <div class="main-container__form--fields">
        <label for="First Name" class="main-container__form--fields__label">First Name</label>
        <input type="text" name="firstName" id="" class="main-container__form--fields__input">
    </div>
    <div class="main-container__form--fields">
        <label for="First Name" class="main-container__form--fields__label">Last Name</label>
        <input type="text" name="lastName" id="" class="main-container__form--fields__input">
    </div>
    <div class="main-container__form--fields">
        <label for="First Name" class="main-container__form--fields__label">Mobile No.</label>
        <input type="tel" name="mobile" id="" class="main-container__form--fields__input">
    </div>
    <div class="main-container__form--fields fileInput">
        <label for="First Name" class="main-container__form--fields__label">Image</label>
        <input type="file" name="image" id="" class="main-container__form--fields__input">
    </div>
    <div class="main-container__form--fields">
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </div>
</form>