<header class="main-header">
    <nav class="main-header__nav">
        <h1 class="main-header__nav--title">Manprit</h1>
        <ul class="main-header__nav--items">
            <li>
                <a href="/" class="main-header__nav--items__item <%= pageTitle === 'Home'? 'active':''%>">Home</a>
            </li>
            <li>
                <a href="/add-user" class="main-header__nav--items__item <%= pageTitle === 'add-user'? 'active':''%>">Add Users</a>
            </li>
        </ul>
    </nav>
</header>