<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>
    <%- include('header') %>
    <main class="main-container">
        <h1 class="main-container__title">
            <%= pageTitle %>
        </h1>
        <%- include('table') %>
    </main>
</body>
</html>